@tailwind base;
@tailwind components;
@tailwind utilities;

/* Smooth scrolling */
html {
    scroll-behavior: smooth;
  }
  
  /* Custom Scrollbar Styles */
  ::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background: #1F2937; /* Dark Gray Track */
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #1F2937; /* Medium Gray Thumb */
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #1F2937; /* Lighter Gray on Hover */
  }
  